pre, code {font-size: 15px;border: 1px solid #aaaaaa;border-radius: 5px;background-color: #ffffff;}
h2 {
color: #000000;
font-weight: bold;
margin: 0px 0px 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 0px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-left: 0px solid #aaaaaa;
background-color: #aaaaaa;
color: #ffffff
}
img {max-width: 100%;vertical-align: middle;border: 1px solid #aaaaaa;border-radius: 5px;padding: 5px}
a:link{font-weight: bold;color: #000000;text-decoration: underline;}
a:visited {color: #aaaaaa;text-decoration: underline;}
a:hover {color: #ffaa00;text-decoration: underline;}
.site-header {border-top: 5px solid #000000;border-bottom: 1px solid #aaaaaa;min-height: 56px;position: relative;background-color: #ffffff;}
.site-nav .page-link {color: #000000;line-height: 1.5;}
.site-footer {border-top: 5px solid #aaaaaa;padding: 30px 0;background-color: #eeeeee;}
.boxit {padding: 10px;border: 2px solid #aaaaaa;border-radius: 5px;}
